/*
    Document   : facebook-like sliding menu
    Created on : 2 févr. 2013, 00:20:45
    Author     : benjaminhorner
    Description:
        Specific stylesheet for Facebook like sliding menu.
        Prefix : fbs (for all classes and ids)
*/

/*
        General styles
*/
root {
        display: block;
}
*, html{
        margin: 0;
        padding: 0;
}
body{
        background: #cccccc;
        padding:0;
        margin:0;
}

/*
        Menu 1 styles
*/
#fbs-app-container{
        overflow: hidden;
        position: absolute;
        height:100%;
        width:100%;
        background: blue;
}
/*
        Main Container styles
*/
#fbs-main-content-container{
        height:100%;
        width:100%;
        background: red;
        position: absolute;
        overflow:scroll;
        top:0;
        overflow: hidden;
}
#fbs-menu-btn{
        background: yellow;
        width:40px;
        height:40px;
        position: absolute;
        left:10px;
        top:5px;
}
.fbs-header{
        height:50px;
        background: pink;}
#fbs-main-content-header{
        background: orange;
}

