/*
    Document   : facebook-like sliding menu
    Created on : 2 févr. 2013, 00:20:45
    Author     : benjaminhorner
    Description:
        Specific stylesheet for Facebook like sliding menu.
        Prefix : fbs (for all classes and ids)
*/

/*
        General styles
*/
root {
        display: block;
}
html{
        margin: 0 !important;
        padding: 0 !important;
}
body{
        background: #cccccc;
        padding:0 !important;
        margin:0 !important;
}

.gradient-dark{
        /* Curtosy of http://www.colorzilla.com/gradient-editor/ */
        background: #222222; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #222222 0%, #111111 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #222222 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #222222 0%,#111111 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #222222 0%,#111111 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #222222 0%,#111111 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
}
.gradient-light{
        /* Curtosy of http://www.colorzilla.com/gradient-editor/ */
        background: #f5f5f5; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #fafafa 0%, #f2f2f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fafafa 0%,#f2f2f2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
}
#fbs-app-container{
        overflow: hidden;
        position: absolute;
        height:100%;
        width:100%;
}
/*
        Menu 1 styles
*/
#fbs-menu-container{
        overflow: scroll;
        position: absolute;
        height:100%;
        width:100%;
}

#fbs-menu-menu ul{
	list-style: none;
	padding:0;
	margin:0;
}
#fbs-menu-menu h4{
	border-bottom:1px solid black;
	border-top: 1px solid #333;
	font-size:24px;
	color:#fff;
	padding:20px;
	margin:0;
	text-transform: uppercase;
}
#fbs-menu-menu ul li{
	border-bottom:1px solid black;
	border-top: 1px solid #333;
	font-size: 16px;
}
#fbs-menu-menu ul li a{
	color:#999;
	width:100%;
	padding:20px;
	display: block;
}
#fbs-menu-menu ul li a:hover{
	color:#fff;
	text-decoration: none;
}
/*
        Main Container styles
*/
#fbs-main-content-container{
        height:100%;
        width:100%;
        position: absolute;
        top:0;
        overflow: hidden;
        -webkit-box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.8);
        box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.8);
	z-index: 4;
}
#fbs-main-content-content p{
	padding:20px;
}
#fbs-menu-btn{
        width:60px;
        height:60px;
        position: absolute;
        left:10px;
        top:10px;
        background-image: url(../img/glyphicons_113_justify.png);
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        text-shadow: -1px -1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=-1, offy=-1);
        -webkit-box-shadow:  1px 1px 0px 0px #ffffff;
        box-shadow:  1px 1px 0px 0px #ffffff;

}
#fbs-menu-btn:active{
        background: url(../img/glyphicons_113_justify.png) no-repeat center center, #f2f2f2; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background:  url(../img/glyphicons_113_justify.png) no-repeat center center, -moz-linear-gradient(top,  #f2f2f2 0%, #eaeaea 100%); /* FF3.6+ */
        background: url(../img/glyphicons_113_justify.png) no-repeat center center,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
        background: url(../img/glyphicons_113_justify.png) no-repeat center center,-webkit-linear-gradient(top,  #f2f2f2 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
        background: url(../img/glyphicons_113_justify.png) no-repeat center center,-o-linear-gradient(top,  #f2f2f2 0%,#eaeaea 100%); /* Opera 11.10+ */
        background: url(../img/glyphicons_113_justify.png) no-repeat center center,-ms-linear-gradient(top,  #f2f2f2 0%,#eaeaea 100%); /* IE10+ */
        background: url(../img/glyphicons_113_justify.png) no-repeat center center,linear-gradient(to bottom,  #f2f2f2 0%,#eaeaea 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */


}
.fbs-header{
        height:40px;
        padding:20px 10px;
        overflow: hidden;
        -o-text-overflow: ellipsis; /* pour Opera 9 */
        text-overflow: ellipsis; /* pour le reste du monde */
	z-index:2;
}
.fbs-header-with-icon{
        padding-left:60px;
}
.fbs-header-light{
        border-bottom: 1px solid #d4d4d4;
}
.fbs-header-dark{
        border-bottom: 1px solid #252525;
}
.fbs-header h1{
        margin:0 !important;
        text-align: center;
        text-shadow: -1px -1px 1px #ffffff;
        filter: dropshadow(color=#ffffff, offx=-1, offy=-1);
        max-height: 40px !important;
        overflow: hidden;
        -o-text-overflow: ellipsis; /* pour Opera 9 */
        text-overflow: ellipsis; /* pour le reste du monde */
        text-wrap:none;
}
.fbs-header-dark h1{
        display: block;
        max-height:40px;
        color: #ccc;
        text-shadow: -1px -1px 1px #222222;
        filter: dropshadow(color=#222222, offx=-1, offy=-1);
        overflow: hidden;
        -o-text-overflow: ellipsis; /* pour Opera 9 */
        text-overflow: ellipsis; /* pour le reste du monde */
        text-wrap:none;
}

/*
* iScroll CSS
*/
.wrapper {
	position:absolute;
	top:80px;
	bottom:0;
	left:0;
	width:100%;
	overflow:auto;
}

#fbs-menu-menu, #fbs-main-content-content {
	position:absolute;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 480px) {
        h1{
                font-size: 16px !important;
                line-height: 30px !important;
        }
        h2{

        }
        h3{

        }
        h4{

        }
        h5{

        }
        h6{

        }
        #fbs-menu-btn{
                width:50px;
                height:50px;
                position: absolute;
                left:0;
                top:0;
                background-image: url(../img/glyphicons_113_justify.png);
                background-repeat: no-repeat;
                background-position: center center;
                border-right: 1px solid #d4d4d4;
                -webkit-box-shadow:  1px 0px 0px 0px #ffffff;
                box-shadow:  1px 0px 0px 0px #ffffff;
                border-left:none;
                border-top:none;
                border-bottom: none;
                border-radius: 0;
                -webkit-border-radius: 0;

        }
        .fbs-header{
                height:30px;
                padding:10px 10px 10px 40px;
                overflow: hidden;
        }
	.wrapper {
		top:50px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}